.App {
    min-height: 100vh;
    background: #161616;
}
.App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header {
padding-left: 20px;
margin-top: 20px;;
font-family: 'Alumni Sans Pinstripe', sans-serif;
font-size: 80px;
font-weight: bolder;
flex: 1;
}
.footer {
    text-align: center;
    text-decoration: none;
    gap: 30px;
    position: relative;
    bottom: 0;
    font-weight: bold;
    font-size: 25px;
}
.nav {
    /* margin-left: 75%; */
    display: flex;
    gap: 25px;
    /* margin-top: -150px; */
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.main {
    text-align: center;
}
.container {

    margin: 0 auto;
}
.login {
    padding: 10px;
    text-align: center;
    color: azure;
}
.carousel {
    position: center;
    min-height: fit-content;
}

.registerinput {
    text-align: center;
    padding: 30px;
    height: 80px;
}
input {
    height: 40px;
    width: 350px;
}
.labels {
    text-shadow: 1px -1px 0 #ffffff;
    position: relative;
    right: 130px;
    top: 20px;
}
.placeholders {
    padding: 30px;
    height: 80px;
}
#email {
    position: relative;
    right: 148px;
}
.cocktails {
    text-align: center;
}
.Cinput {
    margin: 30px;
    margin-bottom: 80px;
}
.Cbutton {
    border-radius: 10%;
}

input::placeholder {
        font-size: 20px;
        font-weight: 500;
}
.Cimg {
    border: 5px solid rgb(233, 195, 124);
    margin-top: 10px;
}
.crd {
    text-align: center;
}
.Cptag1 {
    margin: 20px;
    margin-bottom: 30px;
    color: rgb(226, 164, 71);
    font-size: 30px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.Cptag2 {
    margin: 30px;
    margin-bottom: 10px;
    color: rgb(226, 164, 71);
    text-decoration: none;
}

hr {
    display: flex;
    color:white;
    margin-top: 60px;
    height: 50px;
    
}
.lastPtag {
    color: solid white;
}
.person {
    text-align: center;
    color: antiquewhite;
}
.footerdiv {
    text-align: center;
}
.Sh2 {
    margin: 60px;
}
.Sp {
    align-items: center;
    margin-top: 60px;
    margin-bottom:60px;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 30px;
}